html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: #222;
}

body.dark {
    background-color: #222;
    color: white;
}

body.dark h2 {
    color: black;
}

body.dark button {
    background-color: #222;
    color: #fff;
}

body.dark button.primary {
    background-color: #fff;
    color: #222;
}

body.dark h2.sports {
    background-color: #fff;
    color: #222;
}

body.dark .header button:hover {
    color: #fff;
}


.header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.header button {
    appearance: none;
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 0;
    background-color: transparent;
    color: black;
}

.header button:hover {
    background-color: transparent;
    color: black;
}

.splash-screen, .question, .final {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
    overflow: auto;
}

.splash-screen.hidden, .question.hidden, .final.hidden {
    display: none;
}

.final {
    text-align: center;
}

.final .results {
    margin-bottom: 0;
}

h1 {
    text-align: center;
    margin: 0;
}

p#subtitle {
    text-align: center;
    margin: 1rem 0;
    font-size: 20px;
}

.icon {
    font-size: 4rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

button {
    background-color: #fff;
    color: #222;
    border: 1px solid #CCC;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    width: 100%;
}

button.primary {
    background-color: #222;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #666;
    color: #fff;
}

button.answer {
    display: block;
    width: 100%;
}

.answer {
    margin: 1rem 0;
}

.answer input {
    display: none;
}

.answer input:checked + label {
    background-color: #222;
    color: white;
}

h2 {
    text-align: center;
    margin: 0 -1rem;
}

h2.global {
    background-color: #9cc3fd;
}
h2.global:before {
    content: '🌍 ';
}

h2.national {
    background-color: #fed81d;
}
h2.national:before {
    content: '🇦🇺 ';
}

h2.local {
    background-color: #ffa276;
}
h2.local:before {
    content: '📍 ';
}

h2.sports {
    background-color: #222;
    color: #fff;
}
h2.sports:before {
    content: '⚽ ';
}

h2.entertainment {
    background-color: #dfcafe;
}
h2.entertainment:before {
    content: '🎬 ';
}

h2.result-correct {
    background-color: #c3e4c5;
    color: #4CAF50;
}

h2.result-incorrect {
    background-color: #ffc8c4;
    color: #f44336;
}

#shareable {
    margin-top: 0;
    background-color: #CCC;
    padding: 5px;
}

#copy-button {
    margin-top: 1rem;
}

button.answer.correct {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

button.answer.incorrect {
    background-color: #f44336;
    color: white;
    border-color: #f44336;
}

button.answer:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

button.answer:disabled:hover {
    background-color: inherit;
}

button.answer.correct:disabled:hover {
    background-color: #4CAF50;
}

button.answer.incorrect:disabled:hover {
    background-color: #f44336;
}

#feedback {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

#feedback.hidden {
    display: none;
}

#result-explanation {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.6;
}